body {
    font-family: Helvetica, sans-serif;
    font-size:calc(4px + 5vw);
    background-color: #f2f3f7;
    color: #A3B1C6;
    font-weight: 900;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
    
}

.display {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;

}

.time {
    margin-top: 4vmin;
    margin-bottom: 2vmin;

}



.row-one, .row-two, .row-three, .row-four {
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

.row-four {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size:calc(3px + 0.6vw);
    margin:0.5vmin;
    opacity: 0;
  

}


.temp:hover .row-four{
    transition: ease-out 0.5s;
    opacity: 1;

}


[data-time] {
    margin: 1.2vmin;
    font-size:calc(8px + 1.9vw);
    color: #A3B1C6;
    border-radius: 500px;
    width: 7vw;
    height:7vw;
    max-width: 120px;
    max-height: 120px;
    border-color: transparent;
    background-color: #f2f3f7;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
                -2px -2px 12px rgba(255, 255, 255, 0.5),
                inset 2px 2px 8px rgba(255, 255, 255, 0.1),
                2px 2px 8px rgba(0, 0, 0, 0.15);
    outline: none;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}


[data-time="start"], [data-time="reset"] {
    margin: 2vmin;
    color: #0a5807;
    border-radius: 500px;
    text-shadow: none;

    font-weight: 700;
    max-width: 320px;
    max-height: 120px;
    width: 18vw;
    height:7vw;
    font-size:calc(2px + 1.2vw);
}

.active {
    transform: scale(0.98);
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
                inset -2px -2px 12px rgba(255, 255, 255, 0.5),
                inset 2px 2px 8px rgba(255, 255, 255, 0.1),
                inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}
.colorChange {
    color: #435878;
}

.long {
    color: red;
}

.timeUp {
    transition: color 1.5s;
    color: red;
}

div {
    border-color: red;
    border-width: 10px;
}

